.btn-indigo {
  @apply px-6 py-3 rounded bg-indigo-600 text-white text-sm font-bold whitespace-no-wrap;

  &:hover, &:focus { @apply bg-orange-500 }
}

.btn-spinner,
.btn-spinner:after {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}

.btn-spinner {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: .2em solid white;
  border-right: .2em solid white;
  border-bottom: .2em solid white;
  border-left: .2em solid transparent;
  transform: translateZ(0);
  animation: spinning 1s infinite linear;
}

.btn {
    @apply font-bold px-8 py-4 rounded-sm leading-normal transition duration-150 ease-in-out;
}

.btn--primary {
    @apply text-white bg-primary;
}

.btn--primary:hover {
    @apply bg-primary-darker;
}

.btn--secondary {
    @apply text-white bg-gray-600;
}

.btn--outline {
    @apply text-primary bg-transparent border border-primary;
}

@keyframes spinning {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
