
/* Stack | Stack element vertically with a gap. */
.stack {
    --stack-space: theme('spacing.4');
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.stack > * + * {
    margin-top: var(--stack-space);
}
