
.panel {
    @apply .bg-white .px-4 .py-2 .border-2 .border-gray-200 .rounded-sm .overflow-hidden;
    /*box-shadow: 0px 0px 25px rgba(32, 40, 51, 0.1);*/
}

/*.panel--xs {*/
/*    padding: var(--space-xs) var(--space-sm) !important;*/
/*}*/

/*.panel--sm {*/
/*    padding: var(--space-sm) !important;*/
/*}*/

/*.panel--lg {*/
/*    padding: var(--space-lg) !important;*/
/*}*/


