
.tabs {
    @apply relative;
    top: -1.6rem;
}

.tabs__controls {
    @apply flex justify-between;
}

.tabs__controls > * + * {
    @apply ml-4;
}

.tabs__control {
    @apply block bg-transparent px-4 py-2 rounded text-sm text-gray-700 font-bold;
}

.tabs__control.active {
    @apply bg-primary text-white;
}

.tabs__panel {
    @apply py-6;
}

