
.tag {
    @apply inline-flex items-center px-2 py-2 text-sm font-bold text-gray-700 border border-gray-200 rounded-sm cursor-pointer;
}

/*.badge--primary {*/
/*// TODO: adjust to defaults*/
/*background-color: #F2F4FF;*/
/*    color: #395185;*/
/*//color: var(--color-secondary);*/
/*//background-color: alpha(var(--color-primary), 0.2);*/
/*}*/
