<template>
  <div class="">
      <div class="py-12 bg-body">
          <div class="max-w-screen-xl mx-auto px-4 sm:px-6">
              <div class="flex justify-between mb-4">
                  <div class="flex items-center">
                      <a href="#0" class="profile__img-wrapper block w-20 h-20 rounded-full overflow-hidden">
                          <img class="object-cover" src="/img/profile-img.jpg" alt="Profile picture">
                      </a>
                      <div class="profile__content ml-6">
                          <h2 class="text-3xl font-bold">Felica Queen</h2>
                      </div>
                  </div>
                  <div class="flex">
                      <div class="flex items-center">
                          <svg width="51" height="48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.667 34.667V13.333A5.333 5.333 0 0124 8h24V5.333C48 2.4 45.6 0 42.667 0H5.333A5.333 5.333 0 000 5.333v37.334A5.333 5.333 0 005.333 48h37.334C45.6 48 48 45.6 48 42.667V40H24a5.333 5.333 0 01-5.333-5.333zm8-21.334A2.675 2.675 0 0024 16v16c0 1.467 1.2 2.667 2.667 2.667h24V13.333h-24zm8 14.667c-2.214 0-4-1.787-4-4s1.786-4 4-4c2.213 0 4 1.787 4 4s-1.787 4-4 4z" fill="#CDCDCD"/></svg>
                          <div class="ml-6">
                              <div class="text-gray-600 font-bold mb-2">Баланс</div>
                              <div class="font-bold text-2xl">100 000 ₽</div>
                          </div>
                      </div>
                      <div class="flex items-center ml-24">
                          <svg width="54" height="51" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M52.883 9.113l-7.997-7.998a2.656 2.656 0 00-1.885-.781H11a2.659 2.659 0 00-1.886.781L1.118 9.113A2.656 2.656 0 00.334 11v34.666a5.339 5.339 0 005.333 5.334h42.667a5.339 5.339 0 005.333-5.334V11.001a2.652 2.652 0 00-.784-1.888zM12.105 5.667h29.792l2.666 2.667H9.438l2.667-2.667zM27 43.001L13.667 29.667h8v-8h10.667v8h8L27.001 43.001z" fill="#CDCDCD"/></svg>
                          <div class="ml-6">
                              <div class="text-gray-600 font-bold mb-2">Инвестировано</div>
                              <div class="font-bold text-2xl">50 000 ₽</div>
                          </div>
                      </div>
                      <div class="flex items-center ml-24">
                          <svg width="56" height="56" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M28 0C12.537 0 0 12.537 0 28c0 15.462 12.537 28 28 28 15.462 0 28-12.538 28-28C56 12.537 43.462 0 28 0zm11.031 36.606l-1.787 2.438a.5.5 0 01-.7.106l-10.338-7.537a.495.495 0 01-.206-.407V14c0-.275.225-.5.5-.5h3.006c.275 0 .5.225.5.5v15.469l8.913 6.444a.492.492 0 01.112.693z" fill="#CDCDCD"/></svg>
                          <div class="ml-6">
                              <div class="text-gray-600 font-bold mb-2">В процессе</div>
                              <div class="font-bold text-2xl">20 000 ₽</div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="">
                  <div class="flex">
                      <button class="btn btn--primary">Инвестировать</button>
                      <button class="btn btn--outline ml-4">Вывести</button>
                  </div>
              </div>
          </div>
      </div>
      <div class="">
          <div class="max-w-screen-xl mx-auto px-4 sm:px-6">
              <div class="">
                  <div class="tabs">
                      <ul class="tabs__controls panel" aria-label="Tabs Interface">
                          <li v-for="tabsItem in tabsItems"><a @click="changeActiveTab(tabsItem)" href="javascript:void(0);" class="tabs__control" :class="{ 'active': activeTabPanel === tabsItem.label }">{{ tabsItem.label }}</a></li>
                      </ul>
                      <div class="tabs__panels mt-6">
                          <section v-show="activeTabPanel === 'Мои проекты'" class="tabs__panel panel">
                              <h3 class="text-2xl font-bold">Мои проекты</h3>
                          </section>
                          <section v-show="activeTabPanel === 'Статистика'" class="tabs__panel panel stack text-gray-700">
                              <h3 class="text-2xl font-bold">Статистика</h3>
                              <div class="">Выберите один или несколько проектов для отображения статистики</div>
                              <div class="flex border-b border-gray-200 pb-4">
                                  <div class="tag"><span class="block w-3 h-3 rounded-full bg-primary mr-2"></span>Новые технологии</div>
                                  <div class="tag ml-2"><span class="block w-3 h-3 rounded-full bg-black mr-2"></span>Робот для кафе</div>
                                  <div class="tag ml-2"><span class="block w-3 h-3 rounded-full bg-yellow-500 mr-2"></span>Самый удобный мессенджер</div>
                                  <div class="tag ml-2"><span class="block w-3 h-3 rounded-full bg-red-700 mr-2"></span>Камеры с особой чувствительностью</div>
                              </div>
                              <div class="grid grid-cols-12 gap-16 mt-6">
                                  <div class="col-span-5">
                                      <form class="" action="#" method="POST">
                                          <h3 class="text-xl font-semibold mb-8">Калькулятор прибыли</h3>
                                          <div class="bg-white stack">
                                              <div class="grid grid-cols-6 gap-5">
                                                  <div class="col-span-6 sm:col-span-3">
                                                      <label for="input_sum" class="block text-sm font-semibold leading-5 text-gray-700">Сумма вклада</label>
                                                      <input id="input_sum" class="mt-2 form-input block w-full h-10 py-2 px-3 border border-gray-200 bg-body rounded-sm focus:outline-none focus:shadow-none focus:border-primary transition duration-150 ease-in-out sm:text-sm sm:leading-5" />
                                                  </div>
                                                  <div class="col-span-6 sm:col-span-3">
                                                      <label for="input_time" class="block text-sm font-semibold leading-5 text-gray-700">Срок вклада, мес</label>
                                                      <input id="input_time" class="mt-2 form-input block w-full h-10 py-2 px-3 border border-gray-200 bg-body rounded-sm focus:outline-none focus:shadow-none focus:border-primary transition duration-150 ease-in-out sm:text-sm sm:leading-5" />
                                                  </div>
                                                  <div class="col-span-6 sm:col-span-3">
                                                      <label for="profit" class="block text-sm font-semibold leading-5 text-gray-700">Прибыль</label>
                                                      <input id="profit" value="1000" class="mt-2 form-input block w-full h-10 py-2 px-3 border border-gray-200 bg-body rounded-sm focus:outline-none focus:shadow-none focus:border-primary transition duration-150 ease-in-out sm:text-sm sm:leading-5 cursor-default" readonly />
                                                  </div>
                                                  <div class="col-span-6 sm:col-span-3">
                                                      <label for="result_sum" class="block text-sm font-semibold leading-5 text-gray-700">Итоговая сумма</label>
                                                      <input id="result_sum" value="12000" class="mt-2 form-input block w-full h-10 py-2 px-3 border border-gray-200 bg-body rounded-sm focus:outline-none focus:shadow-none focus:border-primary transition duration-150 ease-in-out sm:text-sm sm:leading-5 cursor-default" readonly />
                                                  </div>
                                              </div>
                                              <div class="grid grid-cols-6 gap-6">
                                                  <div class="col-span-3 sm:col-span-3">
                                                      <button class="btn btn--secondary w-full mt-2 hover:bg-gray-700 focus:outline-none focus:shadow-gray">
                                                          Инвестировать
                                                      </button>
                                                  </div>
                                              </div>
                                          </div>
                                      </form>
                                  </div>
                                  <div class="col-span-7">
                                      <h3 class="text-xl font-semibold mb-8">График доходов</h3>
                                      <apexchart width="100%" type="area" :options="chartOptions" :series="series"></apexchart>
                                  </div>
                              </div>
                          </section>
                          <section v-show="activeTabPanel === 'История операций'" class="tabs__panel panel">История операций</section>
                          <section v-show="activeTabPanel === 'Информация профиля'" class="tabs__panel panel">Информация профиля</section>
                          <section v-show="activeTabPanel === 'Настройки уведомлений'" class="tabs__panel panel">Настройки уведомлений</section>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>

<script>
import Layout from '@/Shared/AppLayout'

export default {
    metaInfo: { title: 'Dashboard' },
    layout: Layout,
    data() {
        return {
            activeTabPanel: 'Статистика',
            tabsItems: [
                { label: 'Мои проекты', selected: true, disabled: false },
                { label: 'Статистика', selected: false, disabled: false },
                { label: 'История операций', selected: false, disabled: false },
                { label: 'Информация профиля', selected: false, disabled: false },
                { label: 'Настройки уведомлений', selected: false, disabled: false },
            ],
            chartOptions: {
                chart: {
                    id: 'vuechart-example'
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    curve: 'smooth'
                },
                xaxis: {
                    type: 'datetime',
                    categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
                },
                colors: ['#FF8A00', '#000'],
            },
            // fill: {
            //     colors: ['#FF8A00', '#000']
            // },
            series: [{
                name: 'Новые технологии',
                data: [31, 40, 28, 51, 42, 109, 100]
            }, {
                name: 'Робот для кафе',
                data: [11, 32, 45, 32, 34, 52, 41]
            }]
        }
    },
    methods: {
        changeActiveTab(tab) {
            if (!tab.disabled) {
                this.activeTabPanel = tab.label;
                tab.selected = true;
            }
        },
    }
}
</script>
