<template>
  <div>
      <header class="bg-secondary">
          <nav class="max-w-screen-xl mx-auto px-4 sm:px-6 py-3 flex items-center justify-start">
              <div class="flex cursor-pointer">
                  <a href="/"><svg width="254" height="50" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M56.41 36.09c-1.559 0-2.968-.268-4.229-.802-1.238-.533-2.221-1.302-2.947-2.306s-1.1-2.19-1.122-3.556h4.806c.064.918.385 1.644.961 2.178.598.534 1.41.801 2.435.801 1.047 0 1.87-.245 2.467-.737.598-.512.897-1.174.897-1.986 0-.662-.203-1.207-.608-1.634-.406-.427-.919-.758-1.538-.993-.598-.257-1.431-.534-2.5-.833-1.452-.428-2.637-.844-3.555-1.25-.898-.427-1.677-1.057-2.34-1.89-.64-.854-.96-1.986-.96-3.396 0-1.324.33-2.478.993-3.46.662-.983 1.591-1.73 2.787-2.243 1.196-.534 2.563-.8 4.1-.8 2.308 0 4.177.565 5.608 1.697 1.452 1.11 2.253 2.67 2.402 4.678h-4.933c-.043-.77-.374-1.4-.994-1.89-.598-.513-1.399-.77-2.402-.77-.876 0-1.581.225-2.115.673-.513.449-.769 1.1-.769 1.955 0 .598.192 1.1.577 1.506.406.384.897.704 1.474.96.598.236 1.43.513 2.499.834 1.452.427 2.637.854 3.556 1.281.918.427 1.709 1.068 2.37 1.922.663.855.994 1.976.994 3.364 0 1.197-.31 2.307-.93 3.332-.619 1.026-1.526 1.848-2.722 2.467-1.197.599-2.617.898-4.262.898zm27.02-22.588v3.62h-5.959v18.743h-4.485V17.123h-5.959v-3.62h16.404zm16.986 18.102h-8.907l-1.474 4.261h-4.71l8.042-22.395h5.222l8.042 22.395h-4.742l-1.473-4.26zm-1.218-3.588l-3.236-9.355-3.236 9.355h6.472zm21.973 7.85l-4.934-8.715h-2.115v8.714h-4.485V13.502h8.394c1.73 0 3.204.31 4.421.93 1.218.598 2.125 1.42 2.723 2.467.62 1.025.93 2.178.93 3.46a6.732 6.732 0 01-1.282 4.004c-.854 1.175-2.125 1.987-3.813 2.435l5.351 9.067h-5.19zm-7.049-12.08h3.749c1.217 0 2.125-.288 2.723-.864.598-.598.897-1.42.897-2.467 0-1.025-.299-1.816-.897-2.371-.598-.577-1.506-.865-2.723-.865h-3.749v6.568zm31.258-10.284v3.62h-5.96v18.743h-4.485V17.123h-5.959v-3.62h16.404z" fill="#fff"/><path d="M153.073 13.502v13.841c0 1.517.396 2.68 1.186 3.492.79.79 1.901 1.186 3.332 1.186 1.452 0 2.574-.396 3.364-1.186.79-.811 1.185-1.976 1.185-3.492v-13.84h4.518V27.31c0 1.901-.417 3.514-1.25 4.838a7.724 7.724 0 01-3.3 2.947c-1.367.662-2.894.994-4.581.994-1.666 0-3.183-.332-4.55-.994a7.612 7.612 0 01-3.203-2.947c-.791-1.324-1.186-2.937-1.186-4.838V13.502h4.485zm34.226 6.92a6.87 6.87 0 01-.865 3.365c-.556 1.046-1.442 1.89-2.659 2.53-1.196.642-2.713.962-4.55.962h-3.748v8.586h-4.486V13.502h8.234c1.73 0 3.204.3 4.421.898 1.218.598 2.126 1.42 2.724 2.467.619 1.046.929 2.232.929 3.556zm-8.266 3.237c1.239 0 2.157-.278 2.755-.833.598-.577.897-1.378.897-2.403 0-2.179-1.217-3.268-3.652-3.268h-3.556v6.504h3.556zm27.758-3.236a6.87 6.87 0 01-.865 3.364c-.556 1.046-1.442 1.89-2.659 2.53-1.196.642-2.713.962-4.55.962h-3.748v8.586h-4.486V13.502h8.234c1.73 0 3.204.3 4.421.898 1.218.598 2.126 1.42 2.724 2.467.619 1.046.929 2.232.929 3.556zm-8.266 3.236c1.239 0 2.157-.278 2.755-.833.598-.577.897-1.378.897-2.403 0-2.179-1.217-3.268-3.652-3.268h-3.556v6.504h3.556zm15.936-6.536v5.607h7.529v3.556h-7.529v5.927h8.49v3.652h-12.976V13.47h12.976v3.653h-8.49zm24.1 18.742l-4.934-8.714h-2.115v8.714h-4.485V13.502h8.394c1.73 0 3.204.31 4.421.93 1.218.598 2.125 1.42 2.724 2.467.619 1.025.929 2.178.929 3.46a6.732 6.732 0 01-1.282 4.004c-.854 1.175-2.125 1.987-3.812 2.435l5.35 9.067h-5.19zm-7.049-12.078h3.749c1.217 0 2.125-.288 2.723-.865.598-.598.897-1.42.897-2.467 0-1.025-.299-1.816-.897-2.371-.598-.577-1.506-.865-2.723-.865h-3.749v6.568z" fill="#FF8A00"/><path d="M22.771 15.909a9.93 9.93 0 00-1.563-2.013A10.155 10.155 0 108.86 29.82a12.005 12.005 0 0113.911-13.911z" fill="#fff"/><path d="M29.198 36.242A16.74 16.74 0 005.525 12.575 12.022 12.022 0 1122.53 29.573 12.022 12.022 0 015.525 12.575a16.741 16.741 0 005.296 27.528 16.74 16.74 0 0018.377-3.861z" fill="#FF8B00"/></svg></a>
              </div>
              <ul class="flex ml-12">
                  <li><a href="#" class="text-white font-bold hover:text-primary transition duration-150 ease-in-out">Главная</a></li>
                  <li><a href="#" class="text-white font-bold hover:text-primary transition duration-150 ease-in-out ml-8">Поиск</a></li>
                  <li><a href="#" class="text-white font-bold hover:text-primary transition duration-150 ease-in-out ml-8">О нас</a></li>
                  <li><a href="#" class="text-white font-bold hover:text-primary transition duration-150 ease-in-out ml-8">Контакты</a></li>
              </ul>
              <div class="flex ml-auto">
                  <div class="flex items-center">
                      <div class="w-6 h-6 flex items-center justify-center mr-2 rounded-full bg-primary text-white font-bold">+</div>
                      <a href="#" class="text-white font-bold hover:text-primary transition duration-150 ease-in-out">Создать проект</a>
                  </div>
                  <div class="flex items-center ml-12">
                      <a href="#" class="text-white font-bold hover:text-primary transition duration-150 ease-in-out">Александра П.</a>
                      <div class="w-10 h-10 flex items-center justify-center ml-2 rounded-full bg-gray-400 text-secondary font-bold text-center">АП</div>
                  </div>
              </div>
          </nav>

      </header>
      <main><slot /></main>
      <footer>
          <div class="max-w-screen-xl mx-auto px-4 sm:px-6"></div>
      </footer>
  </div>
</template>

<script>
// import Dropdown from '@/Shared/Dropdown'

export default {
  components: {

  },
  data() {
    return {

    }
  },
  methods: {
    url() {
      return location.pathname.substr(1)
    },
  },
}
</script>
